*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background: rgb(34, 34, 34);
    background-image: radial-gradient(circle at .5px .5px, rgb(64,64,64), 1px, transparent 0);
    background-size: 50px 30px;
    background-position: -19px -19px;
    position: relative;
}

/* Navigation */
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 72px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(255,255,255);
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(3, 183, 30);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .fa{
    display: none;
}

/* Textbox */
.text-box{
    width: 90%;
    color: rgb(255,255,255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 52px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 23px;
}

/* Button */
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(255,255,255);
    border: 1px solid rgb(255,255,255);
    padding: 12px 34px;
    font-size: 17px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid rgb(3, 183, 30);
    background: rgb(3, 183, 30);
    transition: 1s;
}

/* Screen stuff */
@media(max-width: 700px){
    .text-box h1{
        font-size: 37px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: rgb(3, 183, 30);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: rgb(255,255,255);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}